# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/

# Environment files
*.env

# Django stuff
*.log
*.pot
db.sqlite3      # keep ignored if you don't want your database on GitHub

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db
