{% extends "admin/change_list.html" %}
{% load i18n %}

{% block content %}
  {% if pending_count and pending_count > 0 %}
    <div style="margin-bottom: 15px; padding: 10px; background: #fff3cd; border-left: 5px solid #ffc107;">
      <strong>🔔 {{ pending_count }} candidate{{ pending_count|pluralize }} awaiting approval.</strong>
      <a href="?is_approved__exact=0" style="margin-left: 10px; color: red;">View Pending Job Requests for Chefs Hub </a>
    </div>
  {% endif %}
  {{ block.super }}
{% endblock %}
